* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ralewayregular', 'Arial', sans-serif;
	font-size: 12px;
	/*border: 1px solid red;*/
}

a:hover, input[type="submit"]:hover {
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, .2);
}

.container {
	margin: 0 auto;
	padding: 0 100px;

}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.underline::after {
	content: "";
	display: block;
	width: 200px;
	border-bottom: 5px solid #14b8a0;
}

.col30 {
	width: 33.3%;
	float: left;
}

.section-title {
	text-transform: uppercase;
	font-size: 1.1rem;
}

.section-title::after {
	content: "";
	display: block;
	width: 200px;
	border-bottom: 5px solid #14b8a0;
	padding: 3px 0;
}

/*Header*/
header nav{
	background-color: black;
	width: 100%;
	height: 40px;
}

nav p {
	float: left;
}

header p span {
	color: #14b8a0;
	font-size: 1.2rem;
}

nav ul {
	float: right;
	list-style: none;
}

nav > ul > li {
	float: left;
	position: relative;
}

nav > ul > li:nth-of-type(2) {
	padding: 0 50px;
}
nav > ul > li:nth-of-type(1) {
	padding: 0 0 0 20px;
}

nav a {
	color: white;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 40px;
	font-weight: 700;
}

nav > ul > li ul {
    position: absolute;
    display: none;
    background-color: #000; 
	top: 50px;
	left: 0;
	padding: 5px 0;
}

nav > ul > li > ul {
    position: absolute;
    /*display: block;*/
    background-color: #000; 
	top: 50px;
	left: 0;	
}

nav > ul > li ul li {
	padding: 0 20px;
}

nav > ul > li ul li a {
	text-transform: none;
	font-weight: 400;
	line-height: 30px;
	font-size: 1.3rem;
}

.dropdown::before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-bottom: 10px solid #000;
	top: -20px;
	left: 40px;
}

/*Slider*/

.slider {
	width: 100%;
	height: 500px;
	padding: 100px 0;
	background: rgba(251,251,251,1);
	background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(246,246,246,1) 47%, rgba(207,207,215,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(207,207,215,1)));
	background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(246,246,246,1) 47%, rgba(207,207,215,1) 100%);
	background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(246,246,246,1) 47%, rgba(207,207,215,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(246,246,246,1) 47%, rgba(207,207,215,1) 100%);
	background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(246,246,246,1) 47%, rgba(207,207,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#cfcfd7', GradientType=0 );
}
.slider > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.slider ul {
	list-style: none;
}

.slider > div > p:first-child {
	color: #14b8a0;
	font-size: 5rem;
	cursor: pointer;
	z-index: 3;
}

.slider > div > p:nth-last-child(1) {
	color: #14b8a0;
	font-size: 5rem;
	cursor: pointer;
	z-index: 3;
}

.chairs li {
	position: absolute;
	transition: 0.5s ease-out;
	left: -1000px;
}

.chairs .visible {
	position: relative;
    left: 0;
}

.slider .chairs {
	width: 400px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.slider .about {
	width: 450px;
	text-align: center;
}

.slider .about h2 {
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.slider .about span {
	text-transform: uppercase;
	font-size: 2.5rem;
	color: #14b8a0;
}

.slider .about p {
	padding: 30px 0;
	font-size: 1.1rem;
}

.slider .about a {
	color: #fff;
	font-size: 1.2rem;
	background-color: #14b8a0;
	padding: 10px 20px;
	border-radius: 10px;
	text-transform: uppercase;
	text-decoration: none;
}



/*Shopwindow*/

.shopwindow {
	width: 100%;
	background-color: white;
	height: 300px;
	padding: 30px 0;
}

.shopwindow .container {
	display: flex;
	height: 250px;
}

.shopwindow .container article {
	position: relative;
}

.shopwindow .popup {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	bottom: 30px;
	padding: 20px;
	font-weight: 700;
	width: 100%;
	opacity: 1;
	transition: 0.5s;
}

.shopwindow p span {
	text-transform: uppercase;
}
.shopwindow .container article:nth-child(1) {
	background-image: url("../images/box1_img.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.shopwindow .container article:nth-child(2) {
	background-image: url("../images/box2_img.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 20px;
}


.shopwindow > div > article:nth-last-child(1) {
	border: 1px solid rgba(246, 246, 246, .9);
	padding: 20px;
	overflow: auto;
}

.shopwindow > div > article > p {
	padding: 10px 0 0 0;
}

/*Price list*/

.price-list {
	width: 100%;
	background-color: #f1f1f1;
	height: 600px;
	padding: 30px 0;
}

.price-list article:nth-child(2) {
	padding: 0 20px 0 0;
}

.price-list article:nth-child(4) {
	padding: 0 0 0 20px;
}

.circle {
	position: relative;
	top: -25px;
	left: 50%;
	margin-left: -20px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230);
}

.circle::before {
	content: "";
	display: block;
	position: relative;
	top: 10px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	background-color: #c2c2c2;
	border-radius: 50%;
}

/*Normal box*/

.box {
	border: 1px solid rgba(230, 230, 230);
	background-color: #f9f9f9;
	text-align: center;
	height: 450px;
	margin-top: 50px;
	position: relative;
}

.box :nth-child(2) {
	color: #14b8a0;
	text-transform: uppercase;
	font-size: 2rem;
}

.box :nth-child(3) {
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230);
	width: 100px;
	height: 100px;
	position: relative;
	left: 50%;
	margin: 30px 0 20px -50px;
	color: #c2c2c2;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 15px;	
}

.box :nth-child(3) span:nth-child(1) {
	font-size: 3rem;
	color: #c2c2c2;
	/*border: 1px solid red;*/
}

.box :nth-child(3) span:nth-child(2) {
	font-size: 1rem;
	color: #c2c2c2;
	/*vertical-align: super;
	border: 1px solid green;*/
}

.box :nth-child(4), .box :nth-child(6){
	color: #c2c2c2;
	background-color: #e1e1e1;
	font-size: 1.2rem;
	padding: 10px 0;
	
}

.box :nth-child(5), .box :nth-child(7) {
	color: #b1b1b1;
	background-color: #f1f1f1;
	font-size: 1.2rem;
	padding: 10px 0;
}

.box a:nth-last-child(1) {
	color: #fff;
	font-size: 1.1rem;
	background-color: #14b8a0;
	padding: 10px 15px;
	border-radius: 10px;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -40px;
}

/*Highlighted box*/

.box2 {
	border: 1px solid #14b8a0;
	background-color: #14b8a0;
	transition: 0.5s;
	
}
.box2 .circle {
	background-color: #14b8a0;
	border: 1px solid #14b8a0;
}

.box2 .circle::before {
	content: "";
	display: block;
	background-color: #f1f1f1;
}

.box2 :nth-child(2) {
	color: #fff;
}

.box2 :nth-child(3) {
	color: #14b8a0;
}

.box2 :nth-child(3) span:nth-child(1) {
	color: #14b8a0;
}

.box2 :nth-child(3) span:nth-child(2) {
	color: #14b8a0;
}

.box2 :nth-child(4), .box2 :nth-child(6){
	color: #c2c2c2;
	background-color: #fff;	
}

.box2 a:nth-last-child(1) {
	color: #14b8a0;
	background-color: #fff;
}
/*Calculator*/

.application {
  background-color: #f9f9f9;
  padding:30px 0;
  height: 450px;
}

.application .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.inline {
  /*display:inline-block;*/
  width:400px;
  padding:14px;
  /*vertical-align: top;*/
 /* border: 1px dashed orange*/
}


.application .form {
  margin-top:50px;
}

.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 1.6rem;
  color: #e2e2e2;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 1.6rem;
  color: #cecece;
  line-height: 80%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 38px;
  position: absolute;
  width: 38px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.image_part img{
  /*margin-top: 110px;
  margin-left: 38px;*/
}


/*.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}*/

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;
  ;
}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 20px;
  margin-left: 0;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 1.6rem;
}

.panel_left span{
  margin-top:10px;
  font-size: 1.6rem;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 1.6rem;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

/*Contact*/

.contact {
	width: 100%;
	background-color: #fff;
	height: 450px;
	padding: 30px 0;
}

.contact form {
	float: left;	
}

.contact > div > form input {
	display: block;
	width: 700px;
	margin: 20px 20px 20px 0;
	padding: 15px 5px;
	border: 1px solid rgba(20, 184, 160, .3);
}

.contact > div > form textarea {
	resize: none;
	width: 700px;
	height: 150px;
	padding: 15px 5px;
	border: 1px solid rgba(20, 184, 160, .3);
}

.contact ::placeholder {
	color: #e2e2e2;
	font-size: 1.6rem;
}

.contact article {
	float: right;	
	width: 300px;
	position: relative;	
}
.contact .checkbox label {
	font-size: 1.2rem;
	padding-left: 45px;
	padding-top: 5px;
}


.contact input[type="submit"] {
	color: #fff;
	font-size: 2rem;
	background-color: #14b8a0;
	padding: 10px 15px;
	border-radius: 10px;
	text-transform: uppercase;
	text-decoration: none;
	border: 0;
	width: 100%;
	cursor: pointer;
}

/*Footer*/

footer {
	line-height: 40px;
}

footer p {
	color: #c1c1c1;
	display: inline;
}

footer ul {
	list-style: none;
	display: inline;
	padding: 0 60px 0 0;	
}

footer ul li {
	float: left;
}

footer div {
	float: right;	
}

footer span {
	text-transform: uppercase;
	display: inline;
	color: #c1c1c1;
	font-size: 1.1rem;
}
